<!-- Wrapper-->
<div id="wrapper">



    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">


        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">

                            <h2><span class="text-navy">WELCOME DEEPLIFE TO  WIN PAGE</span></h2>


                            <p>
                                <br/>  GOD BELSS YOU FOR TAKING THIS FAITH STEP
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight" ng-controller="modalDemoCtrl">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>STEP 1</h5>

                            </div>
                            <div class="ibox-content">
                                <!--<p>
                                    Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                </p>
                                <p>
                                    Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.-->
                                </p>
                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                    <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                                </div>

                            </div>
                        </div>
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>step 2</h5>

                            </div>
                            <div class="ibox-content">
                                <!--  <p>
                                      Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                  </p>
                                  <p>
                                      Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                                  </p>-->
                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                    <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                ß                </div>

                            </div>
                        </div>
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>STEP 3</h5>

                            </div>
                            <div class="ibox-content">
                                <!--  <p>
                                      Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                  </p>
                                  <p>
                                      Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                                  </p>-->
                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                    <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>STEP 4</h5>

                                </div>
                                <div class="ibox-content">
                                    <!-- <p>
                                         Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                     </p>
                                     <p>
                                         Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                                     </p>-->
                                    <div class="text-center">
                                        <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                        <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                                    </div>

                                </div>
                            </div>
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>STEP 5</h5>

                                </div>
                                <div class="ibox-content">
                                    <!--   <p>
                                           Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                       </p>
                                       <p>
                                           Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                                       </p>-->
                                    <div class="text-center">
                                        <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                        <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                                    </div>

                                </div>
                            </div>

                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>STEP 6</h5>

                                </div>
                                <div class="ibox-content">
                                    <!-- <p>
                                         Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                                     </p>
                                     <p>
                                         Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                                     </p>-->
                                    <div class="text-center">
                                        <button class="btn btn-primary" ng-click="open3('lg')">NO</button>
                                        <button class="btn btn-primary" ng-click="open3('sm')">YES</button>
                                    </div>

                                </div>
                            </div>
                        </div></div>
                </div>
                <!-- Footer -->
                <div ng-include="'views/common/footer.html'"></div>

            </div>
            <!-- End page wrapper-->

        </div>
        <!-- End wrapper-->